<!-- views/pages/about.ejs -->
	<% include ../partials/head %>
<div class="row">
    <div class="col-sm-12">    
        <div class="jumbotron">
            <h1>Error 404</h1>
            <p>The pages you are looking for is not found</p>
        </div>
    </div>

</div>

    <% include ../partials/footer %>
